.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.nav-item
      %a.nav-link{class: page == :files_by_date ? 'active' : '', href: 'by_date.html'}= :files_by_date.t
    %li.nav-item
      %a.nav-link{class: page == :files_by_extension ? 'active' : '', href: 'by_extension.html'}= :files_by_extension.t

  .tab-content
    .tab-pane.active
      .page-header
        %h1.text-center= page.t
      - case page
      - when :files_by_date
        = high_stock('files_by_date', charts.files_by_date)
      - when :files_by_extension
        = high_chart('files_by_extension', charts.files_by_extension)
